.eunit
*.o
*.beam
*.plt
*.swp
*.swo
*.dot
erl_crash.dump
.rebar/
ebin/
deps/
/ct/*.beam
/ct/logs
/src/sylexer.erl
/src/syparse.erl

/test/generic_block.tst
/test/generic_enum_definition.tst
/test/generic_event_definition.tst
/test/generic_expression.tst
/test/generic_for_statement.tst
/test/generic_function_definition.tst
/test/generic_if_statement.tst
/test/generic_modifier_definition.tst
/test/generic_place_holder_statement.tst
/test/generic_state_variable_declaration.tst
/test/generic_statement_break.tst
/test/generic_statement_continue.tst
/test/generic_statement_return.tst
/test/generic_statement_simple_statement.tst
/test/generic_statement_throw.tst
/test/generic_struct_definition.tst
/test/generic_using_for_declaration.tst
/test/generic_while_statement.tst
/test/wwe.tst
